{{#gh-upload-modal action="closeModal" close=true type="action" style="wide" model=model imageType=imageType}}
  <section class="js-drop-zone">
      <object class="js-upload-target" data="{{src}}" type="application/pdf"> lookahead </object>
      <input data-url="upload" class="js-fileupload main" type="file" name="uploadimage" accept="{{acceptEncoding}}" >
  </section>

{{/gh-upload-modal}}
